<div class="popup_container">
 <ng-container [ngSwitch]="currentStep">
   <!-- Шаг 1: Основная информация -->
   <div *ngSwitchCase="1">
     <h2>About You</h2>
     <form (ngSubmit)="nextStep()" #basicInfoForm="ngForm">
     <div class="input-cont">
      <label for="name">Name or Nickname:</label>
      <input type="text" id="name_or_nickname" [(ngModel)]="userData.name_or_nickname" name="name_or_nickname" required />
     </div>


     <div class="gender-cont">
      
     <div class="input-cont">
      <label for="gender">Gender:</label>
      <select id="gender" [(ngModel)]="userData.gender" name="gender" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
     </div>
     <div class="input-cont">
      <label for="seeking">Seeking for:</label>
      <select id="seeking" [(ngModel)]="userData.seeking" name="seeking" required>
        <option value="man">Man</option>
        <option value="woman">Woman</option>
        <option value="both">Both</option>
      </select>
     </div>

     </div>
     
       <div class="input-cont">
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" [(ngModel)]="userData.birthday" name="birthday" required />
       </div>

       <div class="input-cont">
        <label for="hometown">Home Town:</label>
        <select [(ngModel)]="userData.hometown" id="hometown" name="hometown">
          <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
        </select>
       </div>

       <button type="submit">Next</button>
     </form>
   </div>

   <!-- Шаг 2: Интересные факты -->
   <div *ngSwitchCase="2">
     <h2>Interesting Details About You</h2>
     <textarea [(ngModel)]="userData.details" name="details" placeholder="Write something about yourself"></textarea>
     <button (click)="previousStep()">Back</button>
     <button (click)="nextStep()">Next</button>
     <button (click)="skipStep()">Skip</button>
   </div>

   <!-- Шаг 3: Интересы -->
   <div *ngSwitchCase="3">
     <h2>Your Interests</h2>
<div class="checkbox-cont">
 <div *ngFor="let interest of interests, let i = index" class="checkbox">
  <input
    type="checkbox"
    [id]="i"
    [value]="interest"
    (change)="toggleInterest($event)"
  />
  <label [for]="i">{{ interest }}</label>
</div>
</div>
     <button (click)="previousStep()">Back</button>
     <button (click)="nextStep()">Next</button>
     <button (click)="skipStep()">Skip</button>
   </div>

   <!-- Шаг 4: Загрузка аватара -->
   <div *ngSwitchCase="4">
     <h2>Upload Your Avatar</h2>
     <input type="file" (change)="onFileSelected($event)" />
     <button (click)="previousStep()">Back</button>
     <button (click)="finish()">Finish</button>
   </div>
 </ng-container>
 <button (click)="detail()">Know the details</button>
</div>
