<!-- <button (click)="logAnything()" style="background-color: brown; color: white; border-radius: 15px; padding: 2px 15px;">Log anything</button> -->

<div class="product-item" (mouseleave)="mouseover()">
 <div class="img-cont">
   <img [src]="pizza.variations[1].image_url" alt="">
 </div>
 <div class="product-item-cont">


<div class="product-item-text product-item-text2"  >
 <h4>{{pizza.name}}</h4>
 <p>
  {{ingredients}}
 </p>
 <div class="add-info">
  

<div class="ingredients-cont" *ngIf="this.pizza.ingredients.length > 0" >
  <button class="ingredient-btn" (click)="showIngredients = !showIngredients">Ингредиенты</button>
  <div class="ingredients" *ngIf="showIngredients" >
    <div *ngFor="let ingredient of pizza.ingredients" (click)="onIngredientChange(ingredient.id)">
    <div *ngIf="!(!ingredient.price1  && selectedSize == 20)">
      <div
      [ngClass]="{'active-checkbox': this.selectedIngredients.includes(ingredient.id), checkbox: true}"
      >
      {{ ingredient.name }} 
      <small *ngIf="selectedSize == 20">{{ingredient.price1}}₽</small>
      <small *ngIf="selectedSize == 30">{{ingredient.price2}}₽</small>
      <small *ngIf="selectedSize == 40">{{ingredient.price3}}₽</small>
      <img src="{{ingredient.image_url}}" alt="">
    </div>
    
    </div>
        <!-- [value]="ingredient.id"> -->
      
    </div>
  </div>
</div>

  
   <div  class="pizza-size">
    <div *ngFor="let variation of availablePizzas">
     <button [ngClass]="{'active': variation.size_cm == selectedSize && variation.is_available, sizebtn: true}" (click)="changeSize(variation.size_cm)" [disabled]="!variation.is_available">{{variation.size_cm}}</button>
    </div>
   </div>
   <!-- <button (click)="logAnything()">Log anything</button> -->
  
  
   <select class="types" name="types" [(ngModel)]="selectedType" (change)="changeSelectedType()">
     <option value="традиционное">традиционное</option>
     <option value="тонкое">тонкое</option>
   </select>
 </div>
 <div class="btn-price-cont">
   <div class="btn-price">
     <button (click)="addToCart()">Выбрать</button>
     <b>от {{totalPrice || pizza.variations[0].price}}₽</b>
   </div>
 </div>
</div>
</div>
</div>