<div class="cont">    
 <div id="login">
   <h2>Register</h2>
   <div class="sign-up">
     <p>Already have an account?</p>
     <a href="login">Sign In</a>
   </div>
   <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>
     Your email address <br>
     <input type="email" autocomplete="username" formControlName="email" placeholder="Email">
   </label>
     <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.dirty">
      <small style="color: red;">Email is required and must be a valid email address.</small>
    </div>
    <label>
     Your password <br>
     <input type="password" autocomplete="current-password" formControlName="password" placeholder="Password">
   </label>
       <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.dirty">
        <small *ngIf="registerForm.get('password')?.hasError('required')" style="color: red;">Password is required.</small>
        <small *ngIf="registerForm.get('password')?.hasError('minlength')" style="color: red;">Password must be at least 4 characters long.</small>
        <small *ngIf="registerForm.get('password')?.hasError('maxlength')" style="color: red;">Password must be no more than 20 characters long.</small>
      </div>
     
     <button id="loginBtn" [disabled]="registerForm.invalid">
      <span #buttonText>Register</span>
      <img src="/assets/loading.gif" #loadingGif style="display: none;">
     </button>
   </form>
 </div>
</div>