<div class="cont">
  <app-toolbar (changedProductCategory)="changeCategory($event)"></app-toolbar>
</div>
<div class="carousel-cont">
  <div class="container">
    <img src="/assets/07.png" alt="">
  </div>
</div>
<!-- <div class="item">
  <ngx-skeleton-loader count="5" appearance="circle" />
</div> -->
<div class="c">
  <div class="container">
    <h1 style="text-align: center;" *ngIf="this.showCategory.pizza">Пицца</h1>
    <h1 style="text-align: center;" *ngIf="this.showCategory.drinks">Напитки</h1>
    <h1 style="text-align: center;" *ngIf="this.showCategory.desserts">Десерты</h1>
  </div>
  
</div>
<div class="c">
  <div class="loading-cont" *ngIf="showLoader">
    <div class="pizza-card">
      <ngx-skeleton-loader count="1" appearance="circle" class="pizza-image" [theme]="{ 'border-radius': '50%', 'width': '160px', 'height': '160px', 'position': 'absolute', 'top': '0', 'left': '0', 'right': '0', 'margin': 'auto', 'z-index': '100', 'border': '3px solid white' }"></ngx-skeleton-loader>
      <div class="pizza-card-skeleton">
        <div class="title">
          <div class="title-cont">
            <ngx-skeleton-loader count="1" appearance="line" class="pizza-title"></ngx-skeleton-loader>
          </div>
        </div>
        <ngx-skeleton-loader count="1" appearance="line" class="pizza-description" [theme]="{  'height': '40px' }"></ngx-skeleton-loader>
        <div class="button-price-cont">
          <ngx-skeleton-loader count="1" appearance="line" class="pizza-description" [theme]="{  'height': '30px', 'width': '95%', 'border-radius': '50px', 'margin-bottom': '5px' }"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="1" appearance="line" class="pizza-description" [theme]="{  'height': '30px', 'width': '100%', 'border-radius': '50px', 'margin-bottom': '5px' }"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
    <div class="pizza-card">
      <ngx-skeleton-loader count="1" appearance="circle" class="pizza-image" [theme]="{ 'border-radius': '50%', 'width': '160px', 'height': '160px', 'position': 'absolute', 'top': '0', 'left': '0', 'right': '0', 'margin': 'auto', 'z-index': '100', 'border': '3px solid white' }"></ngx-skeleton-loader>
      <div class="pizza-card-skeleton">
        <div class="title">
          <div class="title-cont">
            <ngx-skeleton-loader count="1" appearance="line" class="pizza-title"></ngx-skeleton-loader>
          </div>
        </div>
        <ngx-skeleton-loader count="1" appearance="line" class="pizza-description" [theme]="{  'height': '40px' }"></ngx-skeleton-loader>
        <div class="button-price-cont">
          <ngx-skeleton-loader count="1" appearance="line" class="pizza-description" [theme]="{  'height': '30px', 'width': '95%', 'border-radius': '50px', 'margin-bottom': '5px' }"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="1" appearance="line" class="pizza-description" [theme]="{  'height': '30px', 'width': '100%', 'border-radius': '50px', 'margin-bottom': '5px' }"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
    <div class="pizza-card">
      <ngx-skeleton-loader count="1" appearance="circle" class="pizza-image" [theme]="{ 'border-radius': '50%', 'width': '160px', 'height': '160px', 'position': 'absolute', 'top': '0', 'left': '0', 'right': '0', 'margin': 'auto', 'z-index': '100', 'border': '3px solid white' }"></ngx-skeleton-loader>
      <div class="pizza-card-skeleton">
        <div class="title">
          <div class="title-cont">
            <ngx-skeleton-loader count="1" appearance="line" class="pizza-title"></ngx-skeleton-loader>
          </div>
        </div>
        <ngx-skeleton-loader count="1" appearance="line" class="pizza-description" [theme]="{  'height': '40px' }"></ngx-skeleton-loader>
        <div class="button-price-cont">
          <ngx-skeleton-loader count="1" appearance="line" class="pizza-description" [theme]="{  'height': '30px', 'width': '95%', 'border-radius': '50px', 'margin-bottom': '5px' }"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="1" appearance="line" class="pizza-description" [theme]="{  'height': '30px', 'width': '100%', 'border-radius': '50px', 'margin-bottom': '5px' }"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
    <div class="pizza-card">
      <ngx-skeleton-loader count="1" appearance="circle" class="pizza-image" [theme]="{ 'border-radius': '50%', 'width': '160px', 'height': '160px', 'position': 'absolute', 'top': '0', 'left': '0', 'right': '0', 'margin': 'auto', 'z-index': '100', 'border': '3px solid white' }"></ngx-skeleton-loader>
      <div class="pizza-card-skeleton">
        <div class="title">
          <div class="title-cont">
            <ngx-skeleton-loader count="1" appearance="line" class="pizza-title"></ngx-skeleton-loader>
          </div>
        </div>
        <ngx-skeleton-loader count="1" appearance="line" class="pizza-description" [theme]="{  'height': '40px' }"></ngx-skeleton-loader>
        <div class="button-price-cont">
          <ngx-skeleton-loader count="1" appearance="line" class="pizza-description" [theme]="{  'height': '30px', 'width': '95%', 'border-radius': '50px', 'margin-bottom': '5px' }"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="1" appearance="line" class="pizza-description" [theme]="{  'height': '30px', 'width': '100%', 'border-radius': '50px', 'margin-bottom': '5px' }"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  
  </div>
</div>



<div class="cont">
  <div class="container">
    <div class="product" *ngIf="this.showCategory.pizza">
      <app-pizza-item class="product-item" *ngFor="let product of pizzas" [pizza]="product"></app-pizza-item>
    </div> 
    <div class="product" *ngIf="this.showCategory.drinks">
      <app-product-item class="product-item" *ngFor="let product of drinks" [drink]="product"></app-product-item>
    </div>
    <div class="product" *ngIf="this.showCategory.desserts">
      <app-product-item class="product-item" *ngFor="let product of desserts" [drink]="product"></app-product-item>
    </div>
    <div class="product" *ngIf="this.showCategory.breakfasts">
      <app-product-item class="product-item" *ngFor="let product of breakfasts" [drink]="product"></app-product-item>
    </div>
    <div class="product" *ngIf="this.showCategory.snacks">
      <app-product-item class="product-item" *ngFor="let product of snacks" [drink]="product"></app-product-item>

    </div>
  </div>
</div>