<div class="reset-pass">
 <div class="container">
     <h1>Reset password</h1>
     <div id="reset-password">
         <form id="resetPassForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
             <label>Reset Code <br>
                 <input formControlName="resetcode" type="text" id="resetCode" placeholder="Enter the code" required>
             </label>
             <label>New Password <br>
                 <input formControlName="newPassword" type="password" id="newPassword" placeholder="Enter new password" required>
             </label>
             <button [disabled]="resetForm.invalid">
                <span #buttonText>Reset Password</span>
                <img src="/assets/loading.gif" #loadingGif style="display: none;">
             </button>
         </form>
     </div>
 </div>
</div> 